In [98]:
import pandas as pd

In [99]:
# File to Load
Meteorite_Landing_Path = "Resources/Meteorite_Landings.csv"

In [100]:
#Read data in Pandas
df = pd.read_csv(Meteorite_Landing_Path)
df.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [101]:
# Checking the number 
number_meteorite= len(df["name"].unique())
number_meteorite

45716

In [102]:
# drop null
df=df.dropna()

In [103]:
#data type
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38115 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         38115 non-null  object
 1   id           38115 non-null  int64
 2   nametype     38115 non-null  object
 3   recclass     38115 non-null  object
 4   mass (g)     38115 non-null  float64
 5   fall         38115 non-null  object
 6   year         38115 non-null  float64
 7   reclat       38115 non-null  float64
 8   reclong      38115 non-null  float64
 9   GeoLocation  38115 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.2+ MB

In [104]:
df = df.loc[df['GeoLocation'] != '(0.0, 0.0)']

In [105]:
#Export
df.to_csv("Resources/Final.csv", index=False)